* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-flow: column-reverse;
}

.events{
    margin: 5px;
}

body {
    background-color: bisque;
}

header {
    text-align: center;
}

#stevePhoto {
    width: 70%;
    border: 5px solid;
    border-color: blue;
    border-style: double;
}


#cite {
    font-size: 15px;
}

footer {
    display: flex;
    margin-top: 50px;
    flex-flow: row-reverse;
}